/* stylish stylish popup banaege taki user ko pyar ho jae  */
body{

width:250px;

background:#202124;

color:white;

font-family:Arial;

padding:15px;

}

h2{

text-align:center;

}

label{

display:block;

margin:12px 0;

}

button{

width:100%;

padding:12px;

margin-top:15px;

border:none;

background:#ff0000;

color:white;

cursor:pointer;

border-radius:6px;

font-size:15px;

}

button:hover{

background:#d40000;

}
